<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de usuário</title>
    <link rel="stylesheet" href="/css/user.css">
</head>
<body>
    <h2>Olá, <%= user.username %>!</h2>
    <div class="for">
    <p>Esta é a página do usuário. Você está logado.</p>
    <p><strong>Usuário: </strong><%= user.username %></p>
    <p><strong>Senha: </strong><%= user.password %></p>
    <form action="/logout" method="get">
        <button type="submit">Logout</button>
    </form>
    <form action="/listUsers" method="get"> <!-- Adicionando o formulário para listar usuários -->
        <button type="submit">Listar todos os usuários</button>
    </form>
    </div>
</body>
</html>
