.for {
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    padding: 15px;
    background-color: #f7e0ff; 
}

h2 {
    text-align: center; 
    margin-top: 0; 
}

button {
    display: block; 
    margin: 10px auto; 
    padding: 10px 20px; 
    background-color: #611670; 
    border: none;
    color: white; 
    border-radius: 8px; 
    cursor: pointer;
}

button:hover {
    background-color: purple; 
}
